@import "tailwindcss";
@import "tailwindcss";

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  padding: 0 80px;
  justify-content: center;
}

/* ✅ mobile grid*/
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(4, 1fr); /* 4 أعمدة */
    gap: 16px;
    max-width: calc(100% - 32px); /* 16px مارجين من كل طرف */
    padding: 0 16px;
  }
  
  .review-card {
    grid-column: span 4; /* يمتد على 4 أعمدة */
    max-width: 100%;
  }
}


/* here we put mixins  */

/* @layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-bold transition-all;
  }

  .btn-primary {
    @apply bg-brandMain text-white hover:bg-brandAccent;
  }

  .card {
    @apply p-6 rounded-2xl shadow-lg bg-white;
  }

  .card-dark {
    @apply bg-backgroundDark text-white;
  }
} */

/* 3. How to Use Them in Vue?
Now, you can use these mixins (utility classes) directly inside Vue components.

html
Copy code
<template>
  <button class="btn btn-primary">Click Me</button>
  <div class="card">
    <p>This is a reusable card component.</p>
  </div>
</template> */